.project {
  $this: &;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-image {
    width: 48%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &-description {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0 1em 0;

    .more-info {
      border: none;
      background-color: #f7f7f7;
      color: $secondary-color;
      padding: 1em 2em;
      margin-top: 1em;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      outline: none;
      font-size: 1rem;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      border-radius: 12px;
      box-shadow: 3px 3px 0 rgba(14, 121, 178, 1),
        -3px -3px 0 rgba(255, 255, 255, 1);
      transition: box-shadow 0.1s ease-in-out;

      &:hover {
        box-shadow: inset 3px 3px 0 rgba(14, 121, 178, 0.2),
          inset -3px -3px 0 rgba(255, 255, 255, 0.2);
      }

      &:active {
        box-shadow: inset 3px 3px 0 rgba(14, 121, 178, 1),
          inset -3px -3px 0 rgba(255, 255, 255, 1);
      }
    }
  }

  h3 {
    margin: 0;
  }
}

.reverse {
  flex-direction: row-reverse;

  & > .project-description {
    text-align: right;
  }

  .project-description {
    align-items: flex-end;
  }

  .more-info {
    box-shadow: -3px 3px 0 rgba(14, 121, 178, 1),
      3px -3px 0 rgba(255, 255, 255, 1);

    &:hover {
      box-shadow: inset -3px 3px 0 rgba(14, 121, 178, 0.2),
        inset 3px -3px 0 rgba(255, 255, 255, 1);
    }

    &:active {
      box-shadow: inset -3px 3px 0 rgba(14, 121, 178, 1),
        inset 3px -3px 0 rgba(255, 255, 255, 0.2);
    }
  }
}

.panel {
  background-color: #fafafa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.6rem;
    text-align: justify;
    align-self: flex-start;
  }

  video {
    max-width: 80%;
    margin: 2em;
    outline: none;
  }

  .grid {
    display: flex;
    max-width: 100%;
    margin: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;

    img {
      max-width: 28%;
      height: auto;
      border-radius: 8px;
      margin: 1em;
      flex-basis: 20%;
      flex-shrink: 3;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .project-description {
    .more-info {
      font-size: 0.8rem;
    }
  }
  .panel {
    p {
      font-size: 1.2rem;
    }

    .grid img {
      max-width: 25%;
      margin: 0.6em;
    }

    .wide-grid img {
      max-width: 45%;
    }
  }
}

@media only screen and (max-width: 820px) {
  .panel {
    p {
      font-size: 0.8rem;
    }

    .grid img {
      max-width: 40%;
      margin: 0.6em;
    }

    .wide-grid img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .project {
    flex-direction: column;
    background-color: white;

    &-image {
      width: 100%;
    }

    &-description {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  .reverse {
    & > .project-description {
      text-align: center;
    }

    .project-description {
      align-items: center;
    }
  }
}

@media only screen and (max-width: 400px) {
  .panel .grid img {
    max-width: 100%;
    margin: 0.6em;
  }
}
